/* styles overloading */
section.contact-us #contact {
    margin-left: 0 !important;
    margin-top: 0 !important;
}


.selectLocations {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: #f4f7fb;
    outline: none;
    border: none;
    box-shadow: none;
    font-size: 13px;
    font-weight: 500;
    color: #7a7a7a;
    padding: 0px 15px;
    margin-bottom: 30px;
}

#divGasStations{
    position: relative;
    z-index: 5;
    background-color: #fff;
    margin-top: 40px;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 5%);
    border-radius: 15px;
    padding: 40px;
}